<div id="header">
	<input type="text" id="start" class="text-box" placeholder="Start Point"></input>
	<input type="text" id="end" class="text-box" placeholder="End Point"></input>
	<input type="text" id="mileage" class="text-box" placeholder="Mileage (L/100km)"></input>
	<label><input type="checkbox" id="roundtrip" /> Round Trip</label>
	<input type="Submit" id="go" value="Go"></input>
	<div id="logo">Guzzler</div>
</div>