<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTzJ-utsq7meBZdCL8uGtOuSMJdGUiW2w&amp;sensor=false&amp;libraries=places"> </script>
  <script type="text/javascript" src="/javascripts/map.js" > </script>
</head>
<body>
  <%- include banner.ejs %>
  <div id="map-canvas"></div>
</body>
</html>
