<div class="app-container">
    <div id="directions" class="directions-container collapsed"></div>
    <div id="map-container" class="map-wrapper">
        <div class="input-container">
            <%-include inputs.ejs %>
        </div>
        <div id="map-canvas" class="map"></div>
    </div>
</div>